<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pbw.main.student.StudentDTO">
  	<select id="getList" resultType="com.pbw.main.student.StudentDTO">
  		SELECT STUDENTNUM, STUDENTNAME, STUDENTTOTAL, STUDENTAVG FROM STUDENT ORDER BY STUDENTNUM DESC
  	</select>
  	
  	<select id="getDetail" resultType="com.pbw.main.student.StudentDTO" parameterType="com.pbw.main.student.StudentDTO">
  		SELECT * FROM STUDENT WHERE STUDENTNUM=#{studentNum}
  	</select>
  	
  	
  </mapper>